<%- include("_layout_header_login") %>
    <div class="jumbotron mb-0">
        <center><h1 class="mb-4">Welcome</h1>
            <h3 class="mb-3">Congratulations on finding the best website in the whole world.</h3>
            <h4 class="mb-3">You can create your own articles or read others by simply creating a new account</h4>
            <b class="mb-3">GO CRAZY</b>
        </center>
    </div>

    <div class="jumbotron jumbotron-fluid" style="background-color: #333; color: #ddd;">
        <center>
            <a href="/user/login" class="btn btn-primary">Sign In</a>
            <b>OR</b>
            <a href="/user/signup" class="btn btn-secondary">Sign Up</a>
        </center>
    </div>
</body>
</html>