<%- include("_layout_header_login") %>
    <div class="jumbotron mb-0">
        <center><h1 class="mb-4">Login</h1></center>
    </div>

    <div class="jumbotron jumbotron-fluid" style="background-color: #333; color: #ddd;">
      <center><p class="text-danger"><%= error %></p></center>
        <div class="container">
            <div class="row justify-content-center">
              <div  class="col-lg-4">
                <form action="/user/login" method="POST">
                  <div class="form-group">
                      <label for="uname" name="uname">Username</label>
                      <input required type="text" name="uname" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="pass" name="pass">Password</label>
                      <input required type="password" name="pass" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-primary mr-2">Login</button>
                  <a href="/user/signup" class="btn btn-secondary mr-2">Sign Up</a>
                  <a href="/" class="btn btn-danger">Cancel</a>
                </form>
              </div>
            </div>
          </div>
    </div>
</body>
</html>